[submodule "mastodon-archive"]
	path = mastodon-archive
	url = https://github.com/TheLastBilly/mastodon-archive
[submodule "mastodon-data-viewer.py"]
	path = mastodon-data-viewer.py
	url = https://github.com/TheLastBilly/mastodon-data-viewer.py
